<%- include('./partials/_header') %>
    <%- include('./partials/_navbar') %>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" action="/project/update/<%= project._id %>?_method=PUT" method="POST">
                    <div class="form-floating mb-3" style="margin-top: 150px;">
                        <input type="text" name="title" id="title" class="form-control" value="<%= project.title %>">
                        <label for="title">Title</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="description" id="title" class="form-control" value="<%= project.description %>">
                        <label for="description">description</label>
                    </div>
                    <button class="btn btn-primary btn-xl mb-5" id="submitButton" type="submit">Update</button>
                </form>
            </div>
        </div>
        <%- include('./partials/_footer') %>